.main-acoes{
    margin-top: 200px;
}

.container-acao{
    margin: auto;
    background-color: white;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.container-informacoes-acao{
    width: 45vw;
    text-align: justify;

    h1, p{
        margin: 0;
        padding: 5px 20px;
    }
}

.tamanho-carrossel {
    width: 35vw;
    aspect-ratio: 3 / 2;
}

.container-carrossel {
    position: relative;
    overflow: hidden;
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.carrossel {
    position: absolute;
    display: flex;
    transform: translateX(-0%);
    transition: transform 1s;
}

.carrossel > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-nav {
    position: absolute;
    padding: 0 20px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(transparent, rgba(0,0,0,.3));
    opacity: 0;
    transition: opacity .2s;
}

.container-nav:hover {
    opacity: 1;
}

.container-indice {
    width: 90%;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    gap: 2px;
}   

.container-indice > button {
    flex: 1;
    max-width: 20px;
    aspect-ratio: 1;
    border: none;
    border-radius: 20px;
    background-color: rgba(255,255,255,.3);
    transition: background-color .2s;
    cursor: pointer;
}

.container-indice > button:hover {
    background-color: rgba(255,255,255,.7);
}

button[data-index-change] {
    font-size: 40px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 500px) {
    .container-nav {
        padding: 0 0 10px;
    }
        
    .container-indice {
            gap: 20px;
    }
}