nav{
    
    display: flex;
    background-color: rgba(0,0,0,0.3);
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 2px  transparent
}

.opcao-nav{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.7s;
}

.opcao-nav:hover{
    color:  ;
}

.header-principal{
    position: fixed;
    top: 0;
    height: 150px;
    width: 100%;
    background-color: transparent;
    padding-left: 20px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.secao-esquerda-header-principal{
    height: 80%
}

.logo{
    height: 100%;
}

.secao-meio-header-principal{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.secao-direita-header-principal{
    width: 20%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    
}

.imagem-carrinho{
    width: 30px;
}