@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Cabeçalho */
.header-principal {
    background-color: rgba(0, 0, 0, 0.3); /* Transparência sobre a imagem */
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.logo {
    height: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
    color: #f4ff1a;
    transform: scale(1.1); /* Aumenta levemente o tamanho do link no hover */
}

.menu .quero-doar {
    padding: 10px;
    border-radius: 20px;
    background-color: #f4ff1a;
    color: black;
    transition: 0.2s;
}

.menu .quero-doar:hover {
    background-color: #73dfe3;
    color: black;
}

/* Animação ao passar o mouse sobre o header */
.header-principal:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Escurece um pouco ao passar o mouse */
}
